#infinite-loader {
    text-align:center; padding:16px;
}
#infinite-loader .spinner {
    width:36px;
    height:36px;
    margin:0 auto;
    border-radius:50%;
    border:4px solid rgba(0,0,0,0.1);
    border-top-color: rgba(0,0,0,0.6);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to { -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}